@import '~@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore.scss';

.newJoinee {
  .container {
    width: 100%;
    margin: 0px auto;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
  }

  .row {
    @include ms-Grid-row;
    @include ms-fontColor-white;
    //background-color: $ms-color-themeDark;
    padding: 20px;
  }

  .column {
    @include ms-Grid-col;
    @include ms-lg10;
    @include ms-xl8;
    @include ms-xlPush2;
    @include ms-lgPush1;
  }

  .para{
    color:blueviolet;
    font-size: 15px;
    //float:right;
    font-weight: 900;
    padding-top: 20px;
    padding-right: 10px;

  }

  .BirthdayHeader{
    color:red;
    font-size: 20px;
    // float:right;
    padding-top: 37px;
    font-weight: 900;
    // padding-left: 46px;
  }

}