@import '~@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore.scss';
@import '~office-ui-fabric-react/dist/sass/References.scss';

.jobOpening {
  
  .container {
    max-width: 100%;
    margin: 0px auto;
    border:1px rgba(218, 215, 215, 0.699) solid;
   // box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
    color: black;
    min-height: 330px;
  }
 
  .header{

    @include ms-font-xl;
    margin:0px !important;
    background-color: rgba(202, 201, 201, 0.233);
    color: black;
  //  font-family: 'Times New Roman', Times, serif;
    padding: 10px;
   }

   .sectionbody {
    margin: 0;
    padding: 0;
    float: left;
    //overflow-y: hidden;
    width: 100%;
    height: 205px;
  }
  .item {
  padding-bottom: 6px;
  padding-top: 6px;
  padding-left: 4px;
  padding-right: 0px;
  clear: both;
  }
  .jobsection {
   // overflow-y: auto;
    height: 174px;
    float: left;
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .jobitem {
    margin: 0;
    padding: 7px 10px;
    float: left;
    width: 100%;
  }
  .dateitem {
    margin: 0;
    padding: 5px;
    //background: #fb8318;
    //background: lightskyblue;
   // background: mediumslateblue;
  }
  .primarytext {
    font-family: 'open-sans-bold';
    color: #fff;
    font-size: 12px;
    text-align: center;
    margin: 0;
    padding: 5px 0 0;
  }
  .subject {
    @include ms-font-m;
    @include ms-fontWeight-semibold;
    //font-family: 'Times New Roman', Times, serif;
   // color: $ms-color-themePrimary;
    color:mediumslateblue;
    
    //width: 80%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
  .dot {
    height: 62px;
    width: 70px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    padding: 4px 3px 0 3px;
    text-align: center;
  }
  .subject1 {
    @include ms-font-m;
    @include ms-fontWeight-semibold;
    color:gray;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    //white-space: nowrap;
  }

  
 
  .next {
    background-color: mediumslateblue;
    color: white;
    font-size: 4em;
    width: 64px;
    height: 64px;
    text-align: center;
    display: inline-block;
    margin-top: 10px;
    padding-top: 2px;
    float: right;
  }
  
}